[Unit]
Description=Zenbook Duo Rotation service
After=gdm.service

[Service]
ExecStart=/bin/bash /usr/bin/monitorrotation

[Install]
WantedBy=multi-user.target